.navigationContainer {
  display: flex;
  gap: 450px;
  padding: 24px 0px;
  background-color: #F7F7F7;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #101828;
  font-family: Inter, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.activeLink {
  color: #D84343;
}

.logo {
  margin-left: 64px;
  color: #101828;
  font-size: 24px;
  font-weight: 1000;
  font-family: Inter, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.subLogo {
  color: #475467;
}

.mainMenu {
  display: flex;
  gap: 32px;
}