.camperCardsContainer {
  flex: 0 0 67.683%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  flex-wrap: nowrap;
}

.loadMoreButton {
  display: inline-block;
  margin: 8px auto;
  padding: 16px 32px;
  background: #fff;
  color: #101828;
  border: 1px solid #DADDE1;
  border-radius: 200px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  transition: border-color 0.3s;
}

.loadMoreButton:hover {
  border-color: #D84343;
}

.messageText {
  color: #101828;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  margin: 16px auto;
  text-align: center;
}